<%= turbo_stream_from 'users_rooms_channel' %>
<%= turbo_stream_from 'room_detail_channel' %>
<nav class="w-60 flex flex-col items-center justify-between border border-sky-500">
  <%= render 'shared/user_room' %>
  <%= render 'shared/create_room' %>
</nav>
